<app-nav-bar (notifyParent)='onNotify($event)' (notifySideBar)="onNotifySidebar($event)" [menuNames]="nav_name_list">
</app-nav-bar>
<app-side-bar #sideBar [menuList]="organizedMenu"></app-side-bar>

<div class="col-md-10 blogShort">
    <h1>Why gambling is good for you</h1>
    <img src="../../../assets/roulette.jpg" alt="post img" style="max-width: 44%;margin-right: 10px;" class="pull-left img-responsive postImg img-thumbnail margin10">
    <article>
        <p>
            Many gaming boards, dice and images of people playing games of chance and skill have come down to us from the ancient world.
            Board games, in particular, are shown as the warrior's recreation, training him in the complex judgments needed
            in the chaos of battle when unpredictable factors interact with his skill and judgment at breakneck speed.
        </p>
        <p>
            A spectrum of skill runs from games of pure luck, such as dice or the Lotto, to games of pure intellect, such as chess. But
            even games of pure luck challenge our judgment. They test our ability to wager only what we can afford to lose
            and to know when to walk away with our winnings, or to cut our losses and stop playing, a skill we need in more
            calculating ventures.
        </p>

        <p>
            "Do not put all your goods aboard ship for trading," wrote the poet Hesiod in the 7th century BC, "for it is a bad thing
            to meet with disaster at sea. Leave the greater part at home: due measure is best in all things." Equivalent
            advice holds for those who play the stock market today.
        </p>

        <p>
            Gambling can thus train and exercise the mind in taking real-life risks. But as its ancient symbolism shows, it is also a
            ritual honouring the dual influences of chance and skill in our world. To put one's trust in Fortune alone is
            the mistake of the gambling addict, and Mercury, the god of calculation, duly gets his revenge when the bean-counters
            move in on the bankrupt. But both chance and skill are active in our lives all the time; we ignore either at
            our peril.
        </p>

        <p><i><a href='https://www.theguardian.com/world/2005/may/28/religion.gambling'>Source</a> </i></p>
    </article>

</div>